<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list inset>
    <ion-item>
      <ion-input placeholder = 'Login' type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder = "Senha" type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
  </ion-list>

    <ion-button class = 'loginbutton' expand = 'block' ion-button (click)="login(user)">Login</ion-button>
    <ion-button fill = 'clear' expand = 'block' size = 'default' ion-button (click)="register()">Cadastre-se</ion-button>

</ion-content>
